@import url("https://fonts.googleapis.com/css?family=Roboto");
$font-primary: #546979;
$font-secondary: #CCCCCC;
$border: #CCCCCC;
$icons: #71828C;
$background-primary: #F3F3F3;
$background-secondary: #151B20;
$ui-primary: #47A0DB;
$ui-secondary: #2D3237;
$ui-success: #88C057;
$ui-error: #ED7161;
$sizer: 1.5rem;
$white: #FFFFFF;
$black: #000000;
$grey: #999999;
@mixin clearfix() {
  &:after {
    content: '•';
    display: block;
    clear: both;
    height: 0;
  }
}

* {
  font-size: 1rem;
  font-family: "Roboto";
  box-sizing: border-box;
}

html,
body,
#app {
  display: flex;
  flex: 1;
  flex-flow: column;
  min-height: 100%;
  background: url('../public/gfx/bg.jpg');
  background-size: cover;
  background-position: top center;
}

#app {
  &>div {
    width: 100%;
    flex: 1;
    display: flex;
    flex-flow: column;
  }
}

.main>* {
  flex: 1 0 100%;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: none;
}

fieldset {
  padding: $sizer;
  margin: 0;
  border: 0;
}

.sidebar {
  background: $background-primary;
  a {
    display: block;
    line-height: $sizer * 2.5;
    color: $font-primary;
    text-decoration: none;
    text-transform: uppercase;
    .fa {
      margin-right: $sizer / 2;
    }
  }
}

.loader {
  left: 50% !important;
  top: 4 * $sizer !important;
  margin-left: $sizer * -1 !important;
  transform: none !important;
  display: none;
  &.loading {
    display: block;
  }
}

.user--search {
  margin-bottom: $sizer;
  .search--wrapper {
    width: 100%;
  }
}

.list--details {
  .title {
    padding: $sizer * 2.5 $sizer 0;
  }
  .button--close {
    position: absolute;
    top: $sizer / 2;
    right: $sizer / 2;
    font-weight: 300;
    font-size: $sizer * 4 / 3;
    &:hover,
    &:focus {
      color: $ui-error;
    }
  }
  .user--results {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      padding: $sizer;
      border-bottom: 1px solid $border;
      position: relative;
      &:last-child {
        border-bottom: 0;
      }
      .user--info {
        display: block;
        line-height: $sizer;
        .fa {
          margin-right: $sizer / 2;
        }
      }
      .button--remove {
        color: $white;
        background: $border;
        height: $sizer * 1.5;
        width: $sizer * 1.5;
        line-height: $sizer * 1.5;
        text-align: center;
        border-radius: $sizer;
        font-size: $sizer;
        font-weight: 300;
        position: absolute;
        top: $sizer * .75;
        right: $sizer * .75;
        &:hover {
          background: $ui-error;
        }
      }
    }
  }
}

.user--search {
  position: relative;
  input {
    line-height: $sizer * 2;
    height: $sizer * 2;
    padding-right: $sizer * 2;
    &:focus {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  .search--wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: $sizer * 2;
    &.has--focus:before {
      right: $sizer * -2;
    }
    &:before {
      font-family: 'FontAwesome';
      content: '\f002';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: $sizer * 2;
      height: $sizer * 2;
      line-height: $sizer * 2;
      text-align: center;
      color: $icons;
      transition: right .5s;
    }
    &:hover:before {
      color: $ui-primary;
    }
  }
  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  ul {
    max-height: $sizer * 10;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    top: $sizer * 2;
    left: 0;
    right: 0;
    z-index: 1;
  }
  li {
    padding: 0 $sizer / 2;
    line-height: $sizer * 2;
    border-style: none solid solid;
    border-width: 1px;
    border-color: $border;
    background: $white;
    &:hover,
    &:focus {
      cursor: pointer;
      background: $background-primary;
      color: $ui-primary;
    }
    &:last-child {
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
  .no--results,
  .no--query {
    background: $background-primary;
    color: $grey;
    &:hover,
    &:focus {
      cursor: default;
      background: $background-primary;
      color: $black;
    }
  }
}

.field--subscriber {
  .selected--users {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      padding: 0;
      margin: 0;
      display: flex;
      border-bottom: solid 1px $border;
    }
    p {
      flex: 1;
      line-height: $sizer * 4 / 3;
      margin: $sizer / 3 0;
      .fa {
        margin-right: $sizer / 4;
      }
    }
  }
}

.geosuggest {
  position: relative;
}

.geosuggest__suggests-wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 2100;
}

.geosuggest__suggests {
  background: $white;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  border-radius: 2px;
  margin-top: $sizer / 2;
  padding: $sizer / 2 0 0;
  user-select: none;

  &.geosuggest__suggests--hidden {
    max-height: 0;
    overflow: hidden;
    border-width: 0;
    display: none;
  }

  .geosuggest__item {
    background: none;
    color: rgba(0, 0, 0, 0.870588);
    cursor: pointer;
    font-size: 1rem;
    line-height: $sizer * 2;
    margin: 0;
    min-height: $sizer * 2;
    outline: none;
    overflow: hidden;
    padding: 0 .75 * $sizer;
    position: relative;
    text-decoration: none;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    white-space: nowrap;

    &:hover,
    &.geosuggest__item--active {
      background: $ui-primary;
      color: $white;
    }
  }
}




