<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sanitize.css/2.0.0/sanitize.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.2.0/css/mdb.min.css" />
  <title><%= htmlWebpackPlugin.options.title %></title>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCywohm_lFxrF3a15FxgTZzdRAkBrEFzAE&libraries=places"></script>
</head>
<body>
<div id="app"></div>
</body>
</html>
